services/files/notas.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="notas-schema1.xsd" namespace="http://www.portalfiscal.inf.br/nfe" />
  <xs:element name="nfeProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.portalfiscal.inf.br/nfe" ref="q1:NFe" />
        <xs:element name="protNFe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="infProt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpAmb" type="xs:unsignedByte" />
                    <xs:element name="verAplic" type="xs:decimal" />
                    <xs:element name="chNFe" type="xs:string" />
                    <xs:element name="dhRecbto" type="xs:dateTime" />
                    <xs:element name="nProt" type="xs:unsignedLong" />
                    <xs:element name="digVal" type="xs:string" />
                    <xs:element name="cStat" type="xs:unsignedByte" />
                    <xs:element name="xMotivo" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="versao" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>