services/files/notas-schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.portalfiscal.inf.br/nfe" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="notas-schema2.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <xs:element name="NFe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="infNFe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ide">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cUF" type="xs:unsignedByte" />
                    <xs:element name="cNF" type="xs:string" />
                    <xs:element name="natOp" type="xs:string" />
                    <xs:element name="indPag" type="xs:unsignedByte" />
                    <xs:element name="mod" type="xs:unsignedByte" />
                    <xs:element name="serie" type="xs:unsignedByte" />
                    <xs:element name="nNF" type="xs:string" />
                    <xs:element name="dEmi" type="xs:date" />
                    <xs:element name="tpNF" type="xs:unsignedByte" />
                    <xs:element name="cMunFG" type="xs:unsignedInt" />
                    <xs:element name="tpImp" type="xs:unsignedByte" />
                    <xs:element name="tpEmis" type="xs:unsignedByte" />
                    <xs:element name="cDV" type="xs:unsignedByte" />
                    <xs:element name="tpAmb" type="xs:unsignedByte" />
                    <xs:element name="finNFe" type="xs:unsignedByte" />
                    <xs:element name="procEmi" type="xs:unsignedByte" />
                    <xs:element name="verProc" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="emit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CNPJ" type="xs:unsignedLong" />
                    <xs:element name="xNome" type="xs:string" />
                    <xs:element name="xFant" type="xs:string" />
                    <xs:element name="enderEmit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="xLgr" type="xs:string" />
                          <xs:element name="nro" type="xs:string" />
                          <xs:element name="xCpl" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="xBairro" type="xs:string" />
                          <xs:element name="cMun" type="xs:unsignedInt" />
                          <xs:element name="xMun" type="xs:string" />
                          <xs:element name="UF" type="xs:string" />
                          <xs:element name="CEP" type="xs:unsignedInt" />
                          <xs:element name="cPais" type="xs:unsignedShort" />
                          <xs:element name="xPais" type="xs:string" />
                          <xs:element name="fone" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IE" type="xs:string" />
                    <xs:element name="CRT" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dest">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CPF" type="xs:unsignedLong" />
                    <xs:element name="xNome" type="xs:string" />
                    <xs:element name="enderDest">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="xLgr" type="xs:string" />
                          <xs:element name="nro" type="xs:string" />
                          <xs:element name="xCpl" type="xs:string" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="xBairro" type="xs:string" />
                          <xs:element name="cMun" type="xs:unsignedInt" />
                          <xs:element name="xMun" type="xs:string" />
                          <xs:element name="UF" type="xs:string" />
                          <xs:element name="CEP" type="xs:unsignedInt" />
                          <xs:element name="cPais" type="xs:unsignedShort" />
                          <xs:element name="xPais" type="xs:string" />
                          <xs:element name="fone" type="xs:unsignedLong" minOccurs="0" maxOccurs="1" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IE" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="entrega" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CPF" type="xs:unsignedLong" />
                    <xs:element name="xLgr" type="xs:string" />
                    <xs:element name="nro" type="xs:unsignedShort" />
                    <xs:element name="xCpl" type="xs:string" />
                    <xs:element name="xBairro" type="xs:string" />
                    <xs:element name="cMun" type="xs:unsignedInt" />
                    <xs:element name="xMun" type="xs:string" />
                    <xs:element name="UF" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="det" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="prod">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cProd" type="xs:string" />
                          <xs:element name="cEAN" type="xs:unsignedLong" />
                          <xs:element name="xProd" type="xs:string" />
                          <xs:element name="NCM" type="xs:unsignedInt" />
                          <xs:element name="CFOP" type="xs:unsignedShort" />
                          <xs:element name="uCom" type="xs:string" />
                          <xs:element name="qCom" type="xs:decimal" />
                          <xs:element name="vUnCom" type="xs:decimal" />
                          <xs:element name="vProd" type="xs:decimal" />
                          <xs:element name="cEANTrib" type="xs:unsignedLong" />
                          <xs:element name="uTrib" type="xs:string" />
                          <xs:element name="qTrib" type="xs:decimal" />
                          <xs:element name="vUnTrib" type="xs:decimal" />
                          <xs:element name="vFrete" type="xs:decimal" minOccurs="0" maxOccurs="1" />
                          <xs:element name="indTot" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="imposto">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ICMS">
                            <xs:complexType>
                              <xs:sequence>
                              	<xs:choice>
		                        <xs:element name="ICMS60">
		                          <xs:complexType>
		                            <xs:sequence>
		                              <xs:element name="orig" type="xs:unsignedByte" />
		                              <xs:element name="CST" type="xs:unsignedByte" />
		                              <xs:element name="vBCSTRet" type="xs:decimal" />
		                              <xs:element name="vICMSSTRet" type="xs:decimal" />
		                            </xs:sequence>
		                          </xs:complexType>
		                        </xs:element>
                        		<xs:element name="ICMS00">
		                          <xs:complexType>
		                            <xs:sequence>
		                              <xs:element name="orig" type="xs:unsignedByte" />
		                              <xs:element name="CST" type="xs:unsignedByte" />
		                              <xs:element name="modBC" type="xs:decimal" />
		                              <xs:element name="vBC" type="xs:decimal" />
		                              <xs:element name="pICMS" type="xs:decimal" />
		                              <xs:element name="vICMS" type="xs:decimal" />
		                            </xs:sequence>
		                          </xs:complexType>
		                        </xs:element>
		                 </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="IPI" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cEnq" type="xs:decimal" />
                                <xs:element name="IPINT">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="CST" type="xs:unsignedByte" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>                          
                          <xs:element name="PIS">
                            <xs:complexType>
                              <xs:sequence>
				                        <xs:choice>	
      		                        <xs:element name="PISAliq">
      		                          <xs:complexType>
      		                            <xs:sequence>
      		                              <xs:element name="CST" type="xs:unsignedByte" />
            		                              <xs:element name="vBC" type="xs:decimal" />
      		                              <xs:element name="pPIS" type="xs:decimal" />
      		                              <xs:element name="vPIS" type="xs:decimal" />
      		                            </xs:sequence>
      		                          </xs:complexType>
      		                        </xs:element>					
      		                        <xs:element name="PISNT">
      		                          <xs:complexType>
      		                            <xs:sequence>
      		                              <xs:element name="CST" type="xs:unsignedByte" />
      		                            </xs:sequence>
      		                          </xs:complexType>
      		                        </xs:element>
                                      </xs:choice>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="COFINS">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:choice>
      		                        <xs:element name="COFINSAliq">
      		                          <xs:complexType>
      		                            <xs:sequence>
      		                              <xs:element name="CST" type="xs:unsignedByte" />
            		                              <xs:element name="vBC" type="xs:decimal" />
      		                              <xs:element name="pCOFINS" type="xs:decimal" />
      		                              <xs:element name="vCOFINS" type="xs:decimal" />
      		                            </xs:sequence>
      		                          </xs:complexType>
      		                        </xs:element>
      		                        <xs:element name="COFINSNT">
      		                          <xs:complexType>
      		                            <xs:sequence>
      		                              <xs:element name="CST" type="xs:unsignedByte" />
      		                            </xs:sequence>
      		                          </xs:complexType>
      		                        </xs:element>
                                </xs:choice>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infAdProd" type="xs:string" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                  <xs:attribute name="nItem" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="total">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ICMSTot">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="vBC" type="xs:decimal" />
                          <xs:element name="vICMS" type="xs:decimal" />
                          <xs:element name="vBCST" type="xs:decimal" />
                          <xs:element name="vST" type="xs:decimal" />
                          <xs:element name="vProd" type="xs:decimal" />
                          <xs:element name="vFrete" type="xs:decimal" />
                          <xs:element name="vSeg" type="xs:decimal" />
                          <xs:element name="vDesc" type="xs:decimal" />
                          <xs:element name="vII" type="xs:decimal" />
                          <xs:element name="vIPI" type="xs:decimal" />
                          <xs:element name="vPIS" type="xs:decimal" />
                          <xs:element name="vCOFINS" type="xs:decimal" />
                          <xs:element name="vOutro" type="xs:decimal" />
                          <xs:element name="vNF" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="transp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modFrete" type="xs:unsignedByte" />
                    <xs:element name="transporta" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CNPJ" type="xs:unsignedLong" minOccurs="0" maxOccurs="1" />
                          <xs:element name="xNome" type="xs:string" />
                          <xs:element name="IE" type="xs:string" />
                          <xs:element name="xEnder" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="xMun" type="xs:string" minOccurs="0" maxOccurs="1" />
                          <xs:element name="UF" type="xs:string" minOccurs="0" maxOccurs="1" />	
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>				
                    <xs:element name="vol">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qVol" type="xs:unsignedByte" />
                          <xs:element name="esp" type="xs:string" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="pesoL" type="xs:decimal" />
                          <xs:element name="pesoB" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infAdic">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="infCpl" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:string" use="required" />
            <xs:attribute name="versao" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q1="http://www.w3.org/2000/09/xmldsig#" ref="q1:Signature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>